Software and versions I used to test this code (other versions will likely work too):

Matlab 2018b
EEGLAB 13.5.4b


EEGLAB plugins (only dipfit is needed for the plotting functions):

clean_rawdata 0.31
dipfit 2.3
EMDLAB_Plugin
